/* Fake AI Consultant Site  */

:root {
    --alt-common-red: #E21F26;
    --alt-blue-sky: #96d2e3;
    --alt-common-black: #180D0E;
    --alt-text-dark-blue: #1F3A55;
    --alt-common-white: #fff;
}


/*#region input properties*/


/* label color */

.consultancy .consultancy__content .tab-content .input-field>label {
    color: var(--alt-common-black);
    font-weight: normal;
    font-size: 14px;
}

.consultancy .consultancy__content .tab-content .input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(1);
    transform: translateY(-14px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    font-weight: normal;
}


/* label focus color */

.consultancy .consultancy__content .tab-content .input-field input[type=text]:focus+label {
    color: var(--alt-common-red);
}


/* label underline focus color */

.consultancy .consultancy__content .tab-content .input-field input:focus {
    border-bottom: 1px solid var(--alt-blue-sky)!important;
    box-shadow: 0 1px 0 0 var(--alt-blue-sky)!important;
}


/* valid color */

.consultancy .consultancy__content .tab-content .input-field input.valid {
    border-bottom: 1px solid var(--alt-common-black);
    box-shadow: 0 1px 0 0 var(--alt-common-black);
    font-weight: bold;
    color: var(--alt-text-dark-blue);
}

.consultancy .consultancy__content .tab-content .input-field input:focus.valid~label {
    color: var(--alt-blue-sky);
}

.consultancy .consultancy__content .tab-content .input-field input:not(.browser-default):focus:not([readonly])+label {
    color: var(--alt-text-dark-blue);
}


/* invalid color */

.consultancy .consultancy__content .tab-content .input-field input.invalid {
    border-bottom: 1px solid var(--alt-common-red);
    box-shadow: 0 1px 0 0 var(--alt-common-red);
}


/* icon prefix focus color */

.consultancy .consultancy__content .tab-content .input-field .prefix.active,
.label-required {
    color: var(--alt-common-red);
}

.consultancy .consultancy__content .tab-content .personal-info-form .input-dob .datepicker-modal {
    top: auto;
    bottom: auto;
    background-color: transparent;
}

.consultancy .consultancy__content .tab-content .personal-info-form .datepicker-date-display {
    background-color: var(--alt-blue-sky);
    color: var(--alt-common-black);
}

.consultancy .consultancy__content .tab-content .personal-info-form .datepicker-date-display .year-text {
    color: var(--alt-common-black);
}

.consultancy .consultancy__content .tab-content .personal-info-form .datepicker-table td.is-selected {
    background-color: var(--alt-blue-sky);
    color: var(--alt-common-black);
}

.consultancy .consultancy__content .tab-content .personal-info-form .datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: var(--alt-common-black);
    font-weight: bold;
}

.consultancy .consultancy__content .tab-content .personal-info-form .calendar-icon {
    position: absolute;
    right: 15px;
    font-size: 20px;
    bottom: 38px;
}

.consultancy .consultancy__content .tab-content .personal-info-form .dropdown-content li>a,
.dropdown-content li>span {
    color: var(--alt-common-black);
}

.consultancy .consultancy__content .tab-content .personal-info-form .select-wrapper input.select-dropdown {
    font-weight: bold;
    color: var(--alt-text-dark-blue);
}

.consultancy .consultancy__content .tab-content .personal-info-form .score-group-label {
    top: -10px!important;
}

.consultancy .consultancy__content .tab-content .personal-info-form .input-field-custom-margin-vertical {
    margin-top: 0;
    margin-bottom: -50px;
}

.consultancy .consultancy__content .tab-content input[type="radio"]:checked+span:after,
.consultancy .consultancy__content .tab-content input[type="radio"].with-gap:checked+span:after {
    background-color: var(--alt-text-dark-blue);
}

.consultancy .consultancy__content .tab-content input[type="radio"]:checked+span:after,
.consultancy .consultancy__content .tab-content input[type="radio"].with-gap:checked+span:before,
.consultancy .consultancy__content .tab-content input[type="radio"].with-gap:checked+span:after,
.consultancy .consultancy__content .tab-content input[type="radio"]:not(:checked)+span:before,
.consultancy .consultancy__content .tab-content input[type="radio"]:not(:checked)+span:after {
    border: 1px solid var(--alt-text-dark-blue);
}

.consultancy .consultancy__content a.back-link {
    color: var(--alt-common-black);
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
}

.consultancy .consultancy__content .btn-next,
.consultancy .consultancy__content .btn-next:hover,
.btn-next:focus {
    background-color: var(--alt-common-red);
    color: var(--alt-common-white);
    font-weight: bold;
    text-transform: none;
}

.radio-choice label {
    color: var(--alt-common-black);
    font-weight: bold;
}

.inline-text {
    margin-bottom: 40px;
}

label.zero-left {
    left: 0!important;
}

.no-mrg {
    margin: 0px;
}

.budget-slider {
    margin-top: 2%;
    margin-bottom: 8%;
}

.result-links {
    margin: 20% auto;
}


/*#endregion*/


/*#region general*/

.flex-box {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.consultancy {
    height: 100%;
    background-color: var(--alt-blue-sky);
    color: var(--alt-common-black);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 2%;
}

.consultancy .consultancy__logo {
    width: 100px;
    margin: auto;
}

.consultancy .consultancy__content {
    background-color: var(--alt-common-white);
    margin: 15px auto;
    padding: 4% 10%;
}

.child-score {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.skill-score {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: baseline;
    -webkit-box-align: baseline;
    margin: auto 5px;
}

.consultancy .consultancy__content .tab-content .row {
    margin-bottom: 0;
}


/*#endregion*/


/*#region steps panel*/

.consultancy .consultancy__content .steps-panel {
    list-style: none;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.consultancy .consultancy__content .steps-panel li {
    padding: 10px 0;
    text-align: center;
}

.consultancy .consultancy__content .steps-panel li a {
    color: var(--alt-common-black);
    font-weight: bold;
}

.consultancy .consultancy__content .steps-panel>li.active>a,
.consultancy .consultancy__content .steps-panel>li.active>a:focus,
.consultancy .consultancy__content .steps-panel>li.active>a:hover {
    color: var(--alt-common-red);
    background-color: transparent;
    font-weight: bold;
}

.consultancy .consultancy__content .steps-panel>li>a:hover,
.consultancy .consultancy__content .steps-panel>li>a:focus {
    color: var(--alt-common-black);
    background-color: transparent;
}


/*#endregion*/


/*#region timetable*/

.ijkl:after {
    content: "";
    width: 123%;
    position: absolute;
    color: #000;
    background-color: #000;
    height: 1px;
    transform: rotate(38deg);
    margin-top: 23px;
    margin-left: -12px;
}

.abcd {
    color: var(--alt-text-dark-blue)
}

.abcd>tbody>tr {
    border: none;
}

table>thead>tr>th {
    max-height: 50px !important;
    min-height: 50px !important;
    height: 50px !important;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 13px;
}

table.setting>thead>tr>th {
    font-size: 12px;
}

table.setting>tbody>tr {
    font-size: 13px;
    font-weight: 650;
}

table.efgh>tbody>tr>td {
    max-height: 50px !important;
    min-height: 50px !important;
    height: 51px !important;
    text-align: center;
}

.setting>tbody>tr {
    transition: all 0.2s ease-in-out;
}

.setting>tbody>tr.mouseon {
    background: var(--alt-text-dark-blue);
    color: #fff;
    cursor: pointer;
}

.setting>tbody>tr>td {
    position: relative;
    display: flex;
    justify-content: center;
}

.setting>tbody>tr.mouseon {
    font-size: 15px;
    transform: translateX(-5px);
    box-shadow: 1px 2px 19px 0px #00000052;
}

.mnop>tbody>tr>td {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.mnop>tbody>tr>td.mouseon {
    box-shadow: 1px 2px 19px 0px #00000052;
}

.mnop>tbody>tr>td.mouseon:before {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.6;
}

.mnop>tbody>tr>td.chosen::after {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.mnop>thead>tr>th {
    cursor: pointer;
}

table.mnop>tbody>tr>td {
    padding: 0;
    position: relative;
}

.mnop>thead>tr>th {
    transition: all 0.2s ease-in-out;
}

.mnop>thead>tr>th.mouseon {
    background-color: var(--alt-text-dark-blue) !important;
    color: #fff;
    transform: translateY(-5px);
    font-size: 14px;
    box-shadow: 1px 2px 19px 0px #00000052;
}

.mnop>tbody>tr>td.hovering:after {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.6;
}

.mnop>tbody>tr:last-child:after {
    content: "\f2ed";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px 0 0 4.5px;
    font-size: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 100%;
    right: 0px;
    bottom: -10px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

.mnop>tbody>tr:last-child:hover:after {
    animation: swing 1s;
    box-shadow: 1px 2px 1px 0px #00000052;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    50% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    65% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    80% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    50% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    65% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    80% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/*#endregion*/

.loading-container {
    width: 90%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width:640px) {
    .page-content .tab-content .page-vertical-mrg .leaderboard-column {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}

@media screen and (max-width: 414px) {
    .loading-container {
        position: relative;
    }
    .testList--isloading {
        display: flex;
    }
    .testList--isloading .loading-content {
        width: 100%
    }
}

.testList--isloading {
    height: 75px;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
}

.testList--isloading .loading-image {
    height: 100%;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
    background-size: 250px;
    -webkit-animation: shine-loading-image 2s infinite ease-out;
    animation: shine-loading-image 2s infinite ease-out;
    width: 30px;
    margin: 0 11px 0 0;
    border-radius: 50%
}

.testList--isloading .loading-content {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1366px) {
    /*.testList--isloading {
      height: 30px;
  }

       .testList--isloading .loading-image {
          width: 30px;
      }*/
    .testList--isloading .loading-content {
        padding: 0;
    }
}

.testList--isloading .loading-content .loading-text-container {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.testList--isloading .loading-content .loading-main-text {
    height: 10px;
    width: 65%;
    margin-bottom: 5px;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 10px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-sub-text {
    height: 10px;
    width: 50%;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 10px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-btn {
    width: 90px;
    height: 25px;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 3px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-input {
    height: 30px;
    margin-bottom: 5px;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 3px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-input-child {
    height: 40px;
    width: 20%;
    margin: 15px 0 15px 0;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 3px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-table {
    height: 205px;
    width: 100%;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 3px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-input-answer {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 3px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

.testList--isloading .loading-content .loading-input-slider {
    height: 20px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #ececec;
    background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
    background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
    background-size: 250px;
    border-radius: 3px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
}

@-webkit-keyframes shine-loading-image {
    0% {
        background-position: -32px;
    }
    40%,
    100% {
        background-position: 208px;
    }
}

@keyframes shine-loading-image {
    0% {
        background-position: -32px;
    }
    40%,
    100% {
        background-position: 208px;
    }
}

@-webkit-keyframes shine-loading-container-items {
    0% {
        background-position: -100px;
    }
    40%,
    100% {
        background-position: 140px;
    }
}

@keyframes shine-loading-container-items {
    0% {
        background-position: -100px;
    }
    40%,
    100% {
        background-position: 140px;
    }
}