/* Fake AI Consultant Site  */
:root {
  --alt-common-red: #E21F26;
  --alt-blue-sky: #96d2e3;
  --alt-common-black: #180D0E;
  --alt-text-dark-blue: #1F3A55;
  --alt-common-white: #fff;
  --alt-blue: #589FEF;
}
/*#region input properties*/
/* label color */
.consultancy .consultancy__content .tab-content .input-field > label {
    color: var(--alt-common-black);
    font-weight: normal;
    font-size: 14px;
  }
  .consultancy .consultancy__content .tab-content .input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(1);
    transform: translateY(-14px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    font-weight: normal;
  }
  /* label focus color */
  .consultancy .consultancy__content .tab-content .input-field input[type=text]:focus + label {
    color: var(--alt-common-red);
  }
  /* label underline focus color */
  .consultancy .consultancy__content .tab-content .input-field input:focus {
    border-bottom: 1px solid var(--alt-blue-sky)!important;
    box-shadow: 0 1px 0 0 var(--alt-blue-sky)!important;
  }
  /* valid color */
  .consultancy .consultancy__content .tab-content .input-field input.valid {
    border-bottom: 1px solid var(--alt-common-black);
    box-shadow: 0 1px 0 0 var(--alt-common-black);
    font-weight: bold;
    color: var(--alt-text-dark-blue);
  }
  .consultancy .consultancy__content .tab-content .input-field input:focus.valid ~ label {
    color: var(--alt-blue-sky);
  }
  .consultancy .consultancy__content .tab-content .input-field input:not(.browser-default):focus:not([readonly])+label {
    color:var(--alt-text-dark-blue);
  }
  /* invalid color */
  .consultancy .consultancy__content .tab-content .input-field input.invalid {
    border-bottom: 1px solid var(--alt-common-red);
    box-shadow: 0 1px 0 0 var(--alt-common-red);
  }
  /* icon prefix focus color */
  .consultancy .consultancy__content .tab-content .input-field .prefix.active, .label-required {
    color: var(--alt-common-red);
  }
  .consultancy .consultancy__content .tab-content .personal-info-form .input-dob .datepicker-modal {
      top:auto;
      bottom: auto;
      background-color: transparent;
  }
  .consultancy .consultancy__content .tab-content .personal-info-form .datepicker-date-display {
      background-color: var(--alt-blue-sky);
      color: var(--alt-common-black);
  }
  .consultancy .consultancy__content .tab-content .personal-info-form .datepicker-date-display .year-text {
    color: var(--alt-common-black);
  }
  .consultancy .consultancy__content .tab-content .personal-info-form .datepicker-table td.is-selected {
    background-color: var(--alt-blue-sky);
    color: var(--alt-common-black);
}
.consultancy .consultancy__content .tab-content .personal-info-form .datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: var(--alt-common-black);
    font-weight: bold;
}
  .consultancy .consultancy__content .tab-content .personal-info-form .calendar-icon {
    position: absolute;
    right: 15px;
    font-size: 20px;
    bottom: 38px;
}
.consultancy .consultancy__content .tab-content .personal-info-form .dropdown-content li>a, .dropdown-content li>span {
    color: var(--alt-common-black);
}
.consultancy .consultancy__content .tab-content .personal-info-form .select-wrapper input.select-dropdown {
    font-weight: bold;
    color: var(--alt-text-dark-blue);
}
.consultancy .consultancy__content .tab-content .personal-info-form .score-group-label {
  top:-10px!important;
}
.consultancy .consultancy__content .tab-content .personal-info-form .input-field-custom-margin-vertical {
  margin-top:0;
  margin-bottom: -50px;
}
.consultancy .consultancy__content .tab-content input[type="radio"]:checked+span:after, .consultancy .consultancy__content .tab-content input[type="radio"].with-gap:checked+span:after {
  background-color: var(--alt-text-dark-blue);
}
.consultancy .consultancy__content .tab-content input[type="radio"]:checked+span:after, 
.consultancy .consultancy__content .tab-content input[type="radio"].with-gap:checked+span:before, 
.consultancy .consultancy__content .tab-content input[type="radio"].with-gap:checked+span:after,
.consultancy .consultancy__content .tab-content input[type="radio"]:not(:checked)+span:before, .consultancy .consultancy__content .tab-content input[type="radio"]:not(:checked)+span:after {
  border: 1px solid var(--alt-text-dark-blue);
}
.consultancy .consultancy__content a.back-link {
  color: var(--alt-common-black);
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}
.consultancy .consultancy__content .btn-next, .consultancy .consultancy__content .btn-next:hover, .btn-next:focus {
  background-color: var(--alt-common-red);
  color: var(--alt-common-white);
  font-weight: bold;
  text-transform: none;
}
.radio-choice label{
  color: var(--alt-common-black);
  font-weight: bold;
}
.inline-text {
 margin-bottom: 40px;
}
label.zero-left {
  left: 0!important;
}
.no-mrg {
  margin: 0px;
}
.budget-slider {
  margin-top: 2%;
  margin-bottom: 8%;
}
.result-links {
  margin: 20% auto;
}
.btn-blue, .btn-blue:hover, .btn-blue:focus {
  background-color: var(--alt-blue);
  color: var(--alt-common-white);
  font-weight: bold;
  text-transform: none;
}
/*#endregion*/

/*#region general*/
.flex-box {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.consultancy {
    height: 100%;
    background-color: var(--alt-blue-sky);
    color: var(--alt-common-black);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 2%;
}
.consultancy .consultancy__logo {
    width: 100px;
    margin: auto;
}
.consultancy .consultancy__content {
    background-color:var(--alt-common-white);
    margin:15px auto;
    padding: 4% 10%;
}
.child-score {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

}
.skill-score {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: baseline;
    -webkit-box-align: baseline;
    margin: auto 5px;
}
.consultancy .consultancy__content .tab-content .row{
  margin-bottom: 0;
  margin-top:25px;
}
/*#endregion*/

/*#region steps panel*/
.consultancy .consultancy__content .steps-panel {
    list-style: none;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-bottom: 3px solid #47515E;

}
.consultancy .consultancy__content .steps-panel li {
    padding: 0;
}

.consultancy .consultancy__content .steps-panel li.active::after{
  content: "";
  height: 3px;
  background: #E31837;
  width: 50px;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.consultancy .consultancy__content .steps-panel li.active1::after{
  content: "";
  height: 3px;
  background: #E31837;
  width: 50px;
  position: absolute;
  bottom: -3px;
  right: 0;
  left:auto;
}
.consultancy .consultancy__content .steps-panel li a{
  color: var(--alt-common-black);
  font-weight: bold;
  cursor: unset;
  padding:10px 0;
}
.step-mrg-left {
  margin-left: 20%!important;
}
.consultancy .consultancy__content .steps-panel>li.active>a, .consultancy .consultancy__content .steps-panel>li.active>a:focus, .consultancy .consultancy__content .steps-panel>li.active>a:hover {
    color: var(--alt-common-red);
    background-color: transparent;
    font-weight: bold;
}
.consultancy .consultancy__content .steps-panel>li>a:hover, .consultancy .consultancy__content .steps-panel>li>a:focus {
    color: var(--alt-common-black);
    background-color: transparent;
}


/*#endregion*/
/*#region Responsive*/
@media screen and (max-width:1366px) {
  .step-mrg-left {
    margin-left: 13%!important;
  }
}
@media screen and (max-width:1280px) {
  .step-mrg-left {
    margin-left: 10%!important;
  }
}
@media screen and (max-width:1024px) {
  .step-mrg-left {
    margin-left: 6%!important;
  }
}
/*#endregion*/